# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.py,cover

# Virtual environments
venv/
.env/
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Data (optional – if large)
data/
*.db

# Docker
*.tar

# Streamlit cache
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Env files
.env

# Temporary files
tmp/
temp/